---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

//group photos
import panAlberta from "/images/group-photos/tinywebp/Pan-Alberta-2023.webp";
import erin from "/images/group-photos/tinywebp/erin.webp";
import queens from "/images/group-photos/tinywebp/queens.webp";
import uofc from "/images/group-photos/tinywebp/uofc.webp";
import stem from "/images/group-photos/tinywebp/stem.webp";
import biu from "/images/group-photos/tinywebp/biu.webp";
import uofc2021 from "/images/group-photos/tinywebp/uofc2021.webp";
import uofcalumni from "/images/group-photos/tinywebp/uofcalumni.webp";
import uofcalumni2 from "/images/group-photos/tinywebp/uofcalumni2.webp";
import Card from "../components/Card.astro";
import "../styles/news.scss";

import { getNewsEvents } from "../lib/fetchNewsEvents";
import { getCertificateEvents } from "../lib/fetchCertificateEvents";
import { getAlumniEvents } from "../lib/fetchAlumniEvents";
import { urlFor } from "../lib/fetchImage";

const certificateContent = await getCertificateEvents();
const alumniContent = await getAlumniEvents();
const newsContent = await getNewsEvents();
---

<Layout
  title="News"
  description="View Some of our past events and media promotions"
>
  <Showcase
    image="/images/hero/tinywebp/events.webp"
    overlayLight={true}
    heading="News & Events"
  />

  <div class="certificates">
    <section class="event">
      <div class="container">
        <h2>Certificate Events</h2>
        <div class="awards">
          {
            certificateContent.map((event) => (
              <div class="image">
                <img
                  src={urlFor(event.certificateImage).url()}
                  alt={event.title}
                  loading="lazy"
                />
              </div>
            ))
          }
          <!-- <div class="image">
            <img
              src={panAlberta}
              alt="Pan Alberta Group Photo"
              loading="lazy"
            />
          </div>
          <div class="image">
            <img src={erin} alt="Erin Group Photo" loading="lazy" />
          </div>
          <div class="image">
            <img src={queens} alt="Queens Group Photo" loading="lazy" />
          </div>
          <div class="image">
            <img src={uofc} alt="U of C Group Photo" loading="lazy" />
          </div>
          <div class="image">
            <img src={stem} alt="Stem Group Photo" loading="lazy" />
          </div>
          <div class="image">
            <img src={biu} alt="BIU Group Photo" loading="lazy" />
          </div>
          <div class="image">
            <img src={uofc2021} alt="U of C 2021 Group Photo" loading="lazy" />
          </div> -->
        </div>
      </div>
    </section>
    <section class="event">
      <div class="container">
        <h2>Alumni Events</h2>
        <div class="awards">
          {
            alumniContent.map((event) => (
              <div class="image">
                <img
                  src={urlFor(event.alumniImage).url()}
                  alt={event.title}
                  loading="lazy"
                />
              </div>
            ))
          }
          <!-- <div class="image">
            <img src={uofcalumni} alt="Alumni Group Photo" loading="lazy" />
          </div>
          <div class="image">
            <img src={uofcalumni2} alt="Alumni Group Photo" loading="lazy" />
          </div> -->
        </div>
      </div>
    </section>

    <section class="featured">
      <div class="container">
        {
          newsContent.map((event) => (
            <>
              <p>
                {new Date(event.date).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </p>
              {event.link ? (
                <a href={event.link}>
                  <h2>{event.title}</h2>
                </a>
              ) : (
                <h2>{event.title}</h2>
              )}
              <p class="subheading">{event.description}</p>
            </>
          ))
        }
      </div>
    </section>

    <section class="invited">
      <div class="container">
        <h2>Invited Talks</h2>
        <Card
          participantImage="/images/logos/iscas.png"
          review="Last October, Dr. Yadid-Pecht gave a keynote lecture at the IEEE ISCAS (International Symposium on Circuits and Systems) 2020 virtual conference in Spain, introducing the FL2F workshop and its results as part of a WiCAS (Women in Circuits and Systems) Session."
          title="WiCAS Invited Session October 2020"
        />
        <iframe
          src="https://www.youtube-nocookie.com/embed/TDOCPAMYQ2M"
          title="WiCAS Session Video"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
    </section>
  </div>
</Layout>
