---
import "../styles/learned.scss";

//icons
import bias from "/images/icons/bias.png";
import startup from "/images/icons/startup.png";
import pitch from "/images/icons/pitch.png";
import setbacks from "/images/icons/setbacks.png";
import advantage from "/images/icons/advantage.png";
import realities from "/images/icons/realities.png";
import resilience from "/images/icons/resilience.png";
import protecting from "/images/icons/protecting.png";
import problemSolving from "/images/icons/problem-solving.png";
import development from "/images/icons/development.png";
---

<section class="learned">
  <div class="container">
    <h2>Within 3 Weeks You Will Learn</h2>

    <div class="flex">
      <div class="icon">
        <img src={bias} alt="Bias Icon" role="presentation" loading="lazy" />
        <p>Implicit Bias</p>
      </div>
      <div class="icon">
        <img
          src={startup}
          alt="start-up Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Running A Start-Up</p>
      </div>
      <div class="icon">
        <img
          src={pitch}
          alt="Pitching Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Pitching Your Idea & Getting It Funded</p>
      </div>
      <div class="icon">
        <img
          src={setbacks}
          alt="Setbacks Icon"
          role="presentation"
          loading="lazy"
        />
        <p>How to Deal With Setbacks & Conflicts</p>
      </div>
      <div class="icon">
        <img
          src={advantage}
          alt="Competitive Advantage Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Competitive Advantage</p>
      </div>

      <div class="icon">
        <img src={realities} alt=" Icon" role="presentation" loading="lazy" />
        <p>Entrepreneurial Realities</p>
      </div>
      <div class="icon">
        <img src={resilience} alt=" Icon" role="presentation" loading="lazy" />
        <p>Resilience & Paths to Success</p>
      </div>
      <div class="icon">
        <img src={protecting} alt=" Icon" role="presentation" loading="lazy" />
        <p>Protecting Your Intellectual Property</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt=" Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Creative Problem Solving</p>
      </div>
      <div class="icon">
        <img
          src={development}
          alt="Development Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Market & Customer Development</p>
      </div>
    </div>
  </div>
</section>
