---
import "../styles/learned.scss";

//icons
import problemSolving from "/images/icons/problem-solving.png";
---

<section class="learned">
  <div class="container">
    <h2>Within 3 Weeks You Will Learn</h2>

    <div class="flex">
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Implicit Bias</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Running A Lean Start-up</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Pitching Your Idea & Getting It Funded</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>How to Deal With Setbacks & Conflicts</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Competitive Advantage</p>
      </div>

      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Entrepreneurial Realities</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Resilience & Paths to Success</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Protecting Your Intellectual Property</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Creative Problem Solving</p>
      </div>
      <div class="icon">
        <img
          src={problemSolving}
          alt="Learning Icon"
          role="presentation"
          loading="lazy"
        />
        <p>Market & Customer Development</p>
      </div>
    </div>
  </div>
</section>
