---
import "../styles/showcase.scss";
export interface Props {
  image: string;
  verticalImage?: string;
  heading?: string;
  text?: string;
  showExtra?: boolean;
  overlay?: boolean;
  overlayLight?: boolean;
  home?: boolean;
}
const {
  image,
  verticalImage,
  heading = "Women in STEM/Health creating more impact and fulfilment - we make it happen!",
  overlay,
  overlayLight,
  home,
} = Astro.props as Props;

// srcset=`
//       https://placehold.co/400X100/png 400w,
//       https://placehold.co/800X200/png 800w,
//       https://placehold.co/1600X400/png 1600w
//       `

// srcset = `
//        ${verticalImage}  400w,
//        ${image}  800w`;
---

<section class="showcase">
  {overlay && <div class="overlay" />}
  {overlayLight && <div class="overlay-light" />}
  <div class="showcase-image">
    <img src={image} alt="showcase Image" loading="eager" role="presentation" />
  </div>

  <div class="container">
    {
      home ? (
        <div class="showcase-text">
          <h1>{heading}</h1>

          <button class="btn btn-add">Apply</button>
        </div>
      ) : (
        <div class="showcase-text not-home">
          <h1>{heading}</h1>
        </div>
      )
    }
  </div>
</section>
